apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-additional-config
  namespace: monitoring
data:
  prometheus-additional.yaml: |
    - job_name: 'cilium-metrics'
      kubernetes_sd_configs:
        - role: pod
          namespaces:
            names:
              - kube-system
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_k8s_app]
          action: keep
          regex: cilium
        - source_labels: [__meta_kubernetes_pod_container_port_name]
          action: keep
          regex: prometheus
        - source_labels: [__meta_kubernetes_pod_name]
          target_label: pod
        - source_labels: [__meta_kubernetes_namespace]
          target_label: namespace
    
    - job_name: 'hubble-metrics'
      kubernetes_sd_configs:
        - role: pod
          namespaces:
            names:
              - kube-system
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_k8s_app]
          action: keep
          regex: hubble
        - source_labels: [__meta_kubernetes_pod_container_port_name]
          action: keep
          regex: metrics
